<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" (click)="articleListPage()">
            <a class="nav-link" href="#">Inicio</a> 
          </li>
          <li class="nav-item" (click)="articleListPage()">
            <a class="nav-link" href="#">Articulos</a> 
          </li>
          <li class="nav-item" (click)="newTemplateFormPage()">
            <a class="nav-link" href="#">Nuevo articulo template</a> 
          </li>
          <li class="nav-item" (click)="newReactiveFormPage()">
            <a class="nav-link" href="#">Nuevo articulo reactivo</a> 
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container py-5">
    <app-article-list *ngIf="activeComponent === 'article-list'"></app-article-list>
    <app-article-new-template *ngIf="activeComponent === 'article-new-template'"></app-article-new-template>
    <app-article-new-reactive *ngIf="activeComponent === 'article-new-reactive'"></app-article-new-reactive>
  </div>
